integrator              = md
dt                      = 0.002
nsteps                  = 50000
continuation            = no
constraint-algorithm    = lincs
constraints             = h-bonds
lincs-iter              = 1
lincs-order             = 4
cutoff-scheme           = Verlet
nstlist                 = 20
coulombtype             = PME
rcoulomb                = 1.0
rvdw                    = 1.0
tcoupl                  = V-rescale
tc-grps                 = System
tau-t                   = 1.0
ref-t                   = 300
pcoupl                  = no
gen-vel                 = yes
gen-temp                = 300
gen-seed                = __SEED__
nstxout-compressed      = 5000
nstenergy               = 1000
nstlog                  = 1000
pbc                     = xyz
